.shared-modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
    background-color: white;
}

.modal-body {
    background-color: white;
    display: flex;
}

.modal-body .modal-body-image {
    flex-grow: 0.4;
    flex-basis: 0;
    padding: 40px 10px 10px;
}

.modal-body .modal-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 0.6;
    flex-basis: 0;
    align-items: center;
}

.modal-body .modal-button-secondary {
    margin: 5px;
    background-color: #ff2020;
    color: white;
    border-color: #ff2020;
    min-width: 50%;
}

.modal-body .modal-button-primary {
    margin: 5px;
    border-color: #ff2020;
    color: #ff2020;
    min-width: 50%;
}

.modal-footer {
    background-color: white;
}


