.footer-container {
    background-color: rgb(14, 13, 13);
    min-height: 30px;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 16px;
    position: fixed;
    bottom:0;
    width:100%
}