.description-container {
  max-width: 1200px;
  max-height: 1000px;
  padding: 15px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  background-color: #ffffff;
}

.left-column {
  width: 65%;
  max-width: 600px;
  position: relative;
  margin-top: 0%;
  padding-bottom: 5%;
  background-color: #959494;
  justify-content: center;
  align-items: center;

}

.right-column {
  width: 35%;
  max-width: 600px;
  margin-top: 30px;
  margin-left: 20px;
  padding-bottom: 3%;

}

.left-column img {
  margin-top: 10%;
  margin-bottom: 2%;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}

.left-column img.active {
  opacity: 1;
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.category {
  color: #070707;
  margin-bottom: 20px;
}

.title {
  border-bottom: 1px solid #E1E8EE;
  color: #040404;
  margin-top: 0%;
  margin-bottom: 10px;
  text-align: left;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
  text-align: left;

}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #040404;
  line-height: 24px;
  text-align: left;
}

.product-rating {
  font-size: 16px;
  color: #040404;
  text-align: left;
}

.product-rating span {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
  padding-left: 1%;
  color: #43484D;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #c42f2d;
  font-weight: bold;
  margin-right: 20px;
}


.cart-btn {
  display: inline-block;
  background-color: #080908;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: bold;
  transition: all .5s;
}

.wishlist-btn {
  display: inline-block;
  background-color: #090808;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  margin-left: 4%;
  transition: all .5s;
}

.remove-btn{
  display: inline-block;
  background-color: #1674c1;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  margin-left: 4%;
  transition: all .5s;
}

.descruppee {
  font-size: 21px;
}

.wishlist-btn:hover {
  background-color: #ea70d1;
}

.add-to-cart {
  background: #3578ce;
  position: absolute;
  width: 600px;
  height: 50px;
  border: 3px solid #2e8fa7;
}


.my-toast {
  display: flex;
  align-items: center;
  background: #040505;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  border-radius: 1%;
  font-family: monospace;
}

.h3{
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}