.custom-product {
    display: flex;
    flex-direction: column;
    background-color: transparent ;
    border: 0px ;
    margin-top: 25px;
}

.category {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.price {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #74706b;
}

.price:hover {
    color: black;
}

.ruppee {
    font-size: 14px;
}

.img {
    display: block;
    margin: 0 auto;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    background-color: white;
    object-fit: contain;
    aspect-ratio: 3/2;
}

.img:hover {
    transform: scale(1.1);
}